body.customLight {
    color: #000;
    --v-custom-background: #CACACA;
    --v-custom-welcomeColor: #000000;
    --v-custom-textColor: #000000;
    --v-custom-textColorReversal: #000000;
    --v-custom-inputBorderColor: #000000;
    --v-custom-searchInputBorderColor: rgba(0,0,0,1);
    --v-custom-checkboxBorderCheckedColor: rgb(0,0,0);
    --v-custom-surface: #CACACA;
    --v-custom-gverseLoginBtnHoverBg: rgb(255,255,255);
    --v-custom-gverseLoginBtnHoverShadow: auto;
    --v-custom-policyColor: #000;
    --v-custom-registerBackBtnHoverBgColor: rgb(255,255,255);
    --v-custom-registerBackBtnBgColor: #c2c2c2;
    --v-custom-registerBackBtnIconColor: #170020;
    --v-custom-registerBackBtnBorderColor: rgb(0,0,0);
    --v-custom-sendSmsBtnBgColor: rgb(255,255,255);
    --v-custom-checkboxCheckedBg: rgb(0,0,0);
    --v-custom-checkboxCheckedIconColor: rgb(255,255,255);
    --v-custom-menuBorderColor: rgba(0,0,0, .75);
    --v-custom-noticeShadow: inset 0px 4px 12.1px #01aaff;
    --v-custom-noticeShadowHover: inset 0px 4px 12.1px #01aaff;
    --v-custom-noticeBackgrounHover:linear-gradient(90.22deg, #4923C6 8.37%, #5208A2 38.35%, #213B89 91.78%);
    --v-custom-menuPointBg: rgb(63,130,146);
    --v-custom-menuPointShadow: 0px 4px 12.8px 2px #4F69CB;
    --v-custom-themeSelectCardBorder: rgb(0,0,0);
    --v-custom-newsDescHoverColor: #4581C3;
    --v-custom-selectLiveTypeBorderColor: #A6A6A6;
    --v-custom-selectLiveTypeBorderHoverColor: #000000;
    --v-custom-themeSelectedContentBg: #cacaca;
    --v-custom-searchIconColor: #000;
    --v-custom-containerScrollBarBorder: 1px solid #a1a1a1;
    --v-custom-containerScrollBarBg: #b2b1b2;
    --v-custom-menuIcon: url('../icons/menuIconLight.png');
    --v-theme-eyesColor: #000;
    --v-theme-eyesHoverColor: #000000
}
body.customDark {
  color: #FFFFFF;
  --v-custom-background: linear-gradient(180deg, #140018 0%, #100020 29.5%, #09000E 75.07%, #0F0022 95%);
  --v-custom-welcomeColor: #ffffff;
  --v-custom-textColor: #ffffff;
  --v-custom-textColorReversal: #000000;
  --v-custom-inputBorderColor: #ffffff;
  --v-custom-searchInputBorderColor: rgba(255,255,255, 0.5);
  --v-custom-checkboxBorderCheckedColor: rgba(0,0,0,0);
  --v-custom-surface: #1D003A;
  --v-custom-gverseLoginBtnHoverBg: linear-gradient(268.27deg, #2e004f 0%, #4827ab 48.78%, #41005a 95.58%);
  --v-custom-gverseLoginBtnHoverShadow: 0px 4px 4px 0px #ffffff inset;
  --v-custom-policyColor: #c2c2c2;
  --v-custom-registerBackBtnHoverBgColor:radial-gradient(50% 50% at 50% 50%, rgba(220, 220, 220, 0.6768) 0%, rgba(159, 157, 238, 0.72) 27.5%, rgba(38, 11, 73, 0.72) 100%);
  --v-custom-registerBackBtnBgColor:radial-gradient(70% 70% at 50% 50%, rgba(233, 234, 254, 0.6768) 0.5%, rgba(212, 213, 241, 0.6768) 9%, rgba(193, 183, 206, 0.72) 46.5%, rgba(47, 31, 76, 0.72) 100%);
  --v-custom-registerBackBtnIconColor: #170020;
  --v-custom-registerBackBtnBorderColor: transparent;
  --v-custom-sendSmsBtnBgColor: linear-gradient(90deg, #1A0126 0%, #3F198A 50%, #1D062F 98%);
  --v-custom-checkboxCheckedBg:linear-gradient(180deg, #7A45BF 1%, #3F1A8C 26.68%, #0C0880 81.13%, #371464 99.5%);
  --v-custom-checkboxCheckedIconColor: rgb(255,255,255);
  --v-custom-menuBorderColor: rgba(255, 255, 255, 0.35);
  --v-custom-noticeShadow: inset 0px 4px 12.1px #A601FF;
  --v-custom-noticeShadowHover: inset 0px 4px 12.1px #A601FF;
  --v-custom-noticeBackgrounHover:linear-gradient(90.22deg, #4923C6 8.37%, #5208A2 38.35%, #213B89 91.78%);
  --v-custom-menuPointBg: radial-gradient(50% 50% at 50% 50%, #fefdff 0%, #745e90 100%);
  --v-custom-menuPointShadow: 0px 4px 12.8px 2px #cea8ff;
  --v-custom-themeSelectCardBorder: linear-gradient(to right bottom, #9747ff, #3d71da, #8746b3, #6d38ff);
  --v-custom-newsDescHoverColor: #D9CAEE;
  --v-custom-selectLiveTypeBorderColor: #b0b0b0;
  --v-custom-selectLiveTypeBorderHoverColor: #ffffff;
  --v-custom-themeSelectedContentBg: #13001a;
  --v-custom-searchIconColor: #c0c0c0;
  --v-custom-containerScrollBarBorder: 1px solid #545454;
  --v-custom-containerScrollBarBg: #402f51;
  --v-custom-menuIcon: url('../icons/menuIcon.png');
  --v-theme-eyesColor: #CECECE;
  --v-theme-eyesHoverColor: #000000;
}



